.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  // margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  // padding-left: 30px; /* gutter size */
  padding: 10px;

  .grid-item {
    padding: 10px;
    margin-top: 30px;
    background-color: white;
    border-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
      0 1px 2px rgba(102, 119, 136, 0.3);
    h2 {
      color: #ff9bac;
      text-decoration: underline;
      margin-bottom: 20px;
    }
    h5 {
      background-color: #bddcf2;
    }
    pre {
      overflow-x: hidden !important;
    }
    pre:hover {
      overflow-x: auto !important;
      overflow-y: hidden !important;
    }
  }
}

.page-title {
  margin: 30px;
}
